.controls {
  background-color: #1f1f1f;
  color: white;
  padding: 1rem;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.checkbox {
  width: fit-content;
}

.controls label {
  margin-left: 4px;
}